#
# Copyright (C) 2018-2019 The Lolz Kernel Project. All rights reserved.
#
# LolZ-Kernel Configuration
# Custom Kernel for HLTE Oreo and Pie based ROMs
# Author: Joshua Primero <jprimero155@gmail.com>
#
# This script is licensed under the terms of the GNU General Public 
# License version 2, as published by the Free Software Foundation, 
# and may be copied, distributed, and modified under those terms.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
on early-init
    # Online All Cores early
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1

on init
    write /sys/devices/leds-qpnp-24/leds/led:rgb_red/brightness 200

on boot
    write /sys/devices/leds-qpnp-24/leds/led:rgb_red/brightness 0
    write /sys/devices/leds-qpnp-24/leds/led:rgb_blue/brightness 200

on property:sys.boot_completed=1
    write /sys/devices/leds-qpnp-24/leds/led:rgb_blue/brightness 0
    write /sys/devices/leds-qpnp-24/leds/led:rgb_green/brightness 200

    # Execute Lolz boot script
    exec u:r:su:s0 root root -- /init.lolzboot.sh
    exec u:r:magisk:s0 root root -- /init.lolzboot.sh
