#
# Copyright (C) 2018-2019 The Lolz Kernel Project. All rights reserved.
#
# LolZ-Kernel Configuration
# Custom Kernel for HLTE Oreo and Pie based ROMs
# Author: Joshua Primero <jprimero155@gmail.com>
#
# This script is licensed under the terms of the GNU General Public 
# License version 2, as published by the Free Software Foundation, 
# and may be copied, distributed, and modified under those terms.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
on boot
    # SafetyNet Bypass HACK
    # selinux nodes, hide permissive state
    chmod 0640 /sys/fs/selinux/enforce
    chmod 0440 /sys/fs/selinux/policy

on property:sys.boot_completed=1  
    # Execute Lolz boot script
    exec u:r:init:s0 root root -- /init.lolzboot.sh
    exec u:r:su:s0 root root -- /init.lolzboot.sh
    exec u:r:supersu:s0 root root -- /init.lolzboot.sh
    exec u:r:magisk:s0 root root -- /init.lolzboot.sh
